* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.title {
  margin-top: 0.5em;
  font-size: 5em;
}

.display {
  font-size: 2em;
  padding-top: 1em;
  margin-top: 2em;
  height: 13em;
  width: 25em;
  background-color: rgb(216, 216, 216);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 4px solid black;
}

.knight {
  height: 8em;
  position: absolute;
}

.board {
  margin-top: 2em;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  border: 6px solid black;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8em;
  width: 8em;
}

.white-square {
  background-color: rgb(242, 225, 195);
}

.black-square {
  background-color: rgb(195, 160, 130);
}
