* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.display {
  width: 30em;
  height: 8em;
  background-color: gray;
}

.knight {
  height: 3em;
  position: absolute;
}

.board {
  width: 20em;
  height: 20em;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4em;
  width: 4em;
}

.white-square {
  background-color: white;
}

.black-square {
  background-color: black;
}
